<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--My Laptop-->
    <add name="kEjRB3r50n1yiSlBr1DWZA==" connectionString="B008C+7VTb9XSMsFA7qhAWkvJe0dIiB+PN4w6VjbjvZr1In7kyFPmZCfvZBU9P+/UTBbkfXCQ55iKTciwEiZbhhH5Mp2ySd/bS6VgQGwuBImpVnknnWbI2fwrW84jdswDFKWaBB0FkOBwSq5100gCA==" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
    </defaultProxy>
    <mailSettings>
      <smtp>
        <!-- deliveryMethod="Network" -->
        <network defaultCredentials="false" host="smtp.gmail.com" port="587" userName="noman.khan330@gmail.com" password="" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <pages validateRequest="false"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="100000"/>
    <sessionState timeout="500000"/>
  </system.web>
  <appSettings>
    <add key="BaseURL" value="http://localhost:33919/web/"/>
    <add key="SMSMsisdn" value="http://localhost:33919/web/"/>
    <add key="SMSPassword" value="http://localhost:33919/web/"/>
  </appSettings>
</configuration>